/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* Borders or padding is no longer add to the 
    total wideth and total height of the box */
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  /* padding is applied to the all parts */
}
.header_part {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fab, #28b4859b),
    url(../img/hero.jpg);
  /* Here linear-gradient move from right to bottom parrallel to image */
  background-position: top;
  /* Will not crop the Top part of image  */
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* we used to specify a polygon to shape  polygon(x y,x y,x y,x y)*/

  position: relative;
  /* We need to show that position relative because we use position property in logo box , logo box is the child class of header part so*/
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 30px;

  animation-name: movingleft;
  /* Giving the name of the animation that we build*/
  animation-duration: 1s;
  /* duration of the animation for the text */
  animation-delay: 0s;
  /* The time taken to show the animation to the person when he open the website */
  animation-iteration-count: 1;
  /* The number of time the animation will show */
  animation-timing-function: ease-out;
  /* Make some changes in the timing and speed */
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 10px;
  animation: movingright 1s ease-out;
}
.Text-box-main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* translate is basically use to change the position in 2d so it is something special */
}

/* giving an animation property to the text */
@keyframes movingleft {
  /* intial state for the animation */
  0% {
    opacity: 0;
    transform: translateX(-100px);
    /* Changing the X axise for a bit */
  }
  /* middle state for the animation */
  80% {
    transform: translateX(10px);
  }
  /* Final State for the animation */
  100% {
    opacity: 1;
    transform: translate(0);
    /* Change the Text to the inital position */
  }
}
@keyframes movingright {
  /* intial state for the animation */
  0% {
    opacity: 0;
    transform: translateX(100px);
    /* Changing the X axise for a bit */
  }
  /* middle state for the animation */
  80% {
    transform: translateX(-10px);
  }
  /* Final State for the animation */
  100% {
    opacity: 1;
    transform: translate(0);
    /* Change the Text to the inital position */
  }
}
