/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  /* Borders or padding is no longer add to the 
    total wideth and total height of the box */
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 30px;
  /* padding is applied to the all parts */
  box-sizing: border-box;
}

.header_part {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #499a3bc0, #28b4859b),
    url(../img/hero.jpg);
  /* Here linear-gradient move from right to bottom parrallel to image */
  background-position: top;
  /* Will not crop the Top part of image  */
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* we used to specify a polygon to shape  polygon(x y,x y,x y,x y)*/

  position: relative;
  /* We need to show that position relative because we use position property in logo box , logo box is the child class of header part so*/
}

.header_part__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header_part__logo {
  height: 3.5rem;
}

.header_part__Text-box-main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* translate is basically use to change the position in 2d so it is something special */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;

  animation-name: movingleft;
  /* Giving the name of the animation that we build*/
  animation-duration: 1s;
  /* duration of the animation for the text */
  animation-delay: 0s;
  /* The time taken to show the animation to the person when he open the website */
  animation-iteration-count: 1;
  /* The number of time the animation will show */
  animation-timing-function: ease-out;
  /* Make some changes in the timing and speed */
}
.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1rem;
  animation: movingright 1s ease-out;
}

/* This part is for main button in home page  */
/* There are 2 things link and visited */
/* link - normal link, visited -link after visited */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 1.5rem 4rem;
  /* Here padding will be padding:  top&bottom left&right */
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s;
}
.btn--white {
  background-color: #fff;
  color: #777;
  animation: button-main 0.5s ease-in;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* box-shadow : x-axise upslon blur color*/
}
/* active state means when u click that button */
.btn:active {
  transform: translateY(-1px);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  font-size: 1.6rem;
}
.btn-white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}

@keyframes button-main {
  0% {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
    /* Changing the X axise for a bit */
  }
  /* middle state for the animation */

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* giving an animation property to the text */
@keyframes movingleft {
  /* intial state for the animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /* Changing the X axise for a bit */
  }
  /* middle state for the animation */
  80% {
    transform: translateX(1rem);
  }
  /* Final State for the animation */
  100% {
    opacity: 1;
    transform: translate(0);
    /* Change the Text to the inital position */
  }
}
@keyframes movingright {
  /* intial state for the animation */
  0% {
    opacity: 0;
    transform: translateX(10rem);
    /* Changing the X axise for a bit */
  }
  /* middle state for the animation */
  80% {
    transform: translateX(-1rem);
  }
  /* Final State for the animation */
  100% {
    opacity: 1;
    transform: translate(0);
    /* Change the Text to the inital position */
  }
}
